.u-section-1 .u-sheet-1 {
  min-height: 208px;
}

.u-section-1 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  width: 899px;
  margin: 23px auto 34px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin: 27px 0 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
    margin-bottom: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-audio-1 {
  width: 500px;
  margin-bottom: 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-audio-1 {
    width: 340px;
  }
}